# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/.vercel/
/.worker-next/

# production
/build

# extract script output
/summary.json
/failed-cities.json
/failed-cities-fsq.json
/summary-osm-extended.json
/failed-cities-osm-extended.json
/summary-justeat.json

# misc
.DS_Store
*.pem
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
